<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-dark-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-default</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-default</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-default</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-default</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-icon-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-icon-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-dark-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-default</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-default</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-default</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-default</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-icon-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-icon-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light-pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
